apiVersion: v1
kind: Service
metadata:
  name: aiproxy-free
  namespace: aiproxy-system
  labels:
    cloud.sealos.io/app-deploy-manager: aiproxy-free
spec:
  ports:
    - port: 3000
      targetPort: 3000
  selector:
    app: aiproxy-free
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aiproxy-free
  namespace: aiproxy-system
  annotations:
    originImageName: ghcr.io/labring/aiproxy-free:latest
    deploy.cloud.sealos.io/minReplicas: '3'
    deploy.cloud.sealos.io/maxReplicas: '3'
  labels:
    cloud.sealos.io/app-deploy-manager: aiproxy-free
    app: aiproxy-free
spec:
  replicas: 3
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: aiproxy-free
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: aiproxy-free
    spec:
      terminationGracePeriodSeconds: 600
      containers:
        - name: aiproxy-free
          image: ghcr.io/zijiren233/aiproxy-free:latest
          envFrom:
          - configMapRef:
              name: aiproxy-free-env
          resources:
            requests:
              cpu: 50m
              memory: 50Mi
            limits:
              cpu: 500m
              memory: 512Mi
          ports:
            - containerPort: 3000
          imagePullPolicy: Always
          startupProbe:
            httpGet:
              port: 3000
              path: /api/status
            initialDelaySeconds: 5
            periodSeconds: 3
            failureThreshold: 30
            successThreshold: 1
            timeoutSeconds: 1
      serviceAccountName: default
      automountServiceAccountToken: false